/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16 avr. 2021, 11:28:13
    Author     : Lisa
*/

body{
    background-color: #DAD9D9;
    font-family: Hind Vadodara, sans-serif;
    cursor: default;
    margin: 0px;
}

#divLogo{
    margin-top: 15px;
    text-align: right;
    font-family: Hind Vadodara, sans-serif;
    color: rgba(255,255,255,0.8);
    flex-direction: column;
    line-height: 0.3;
}

.h2{
    font-size: 40px;
}
.h3{
    font-size: 20px;
}

#titre{
    margin-top: 100px;
    left: 385px;
    text-align: center;
    font-family: Hind Vadodara, sans-serif;
    font-size: 38px;
    letter-spacing: 3px;
    font-weight: 500;
    color: rgba(255,255,255,1);
}


#marge{
    padding-top: 10px;
    padding-left: 25px;
    margin-top: -115px;
    margin-left: 0px;
    width: 200px;
    height: 800px;
    background: rgba(255,255,255,0.5);
    display: flex;
    box-shadow: 2px 2px 4px -2px rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 10px );
    position: fixed;
    flex-direction: column;

}


#formulaireContinent{
    margin-top: 100px;
    justify-content: space-between;
    text-align: left;
    background-color:transparent;
    font-family: Hind Vadodara, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgba(21, 61, 119, 1);
}

select{
    background-color: rgba( 255, 255, 255, 0.3 );
    border-color: transparent;
    backdrop-filter: blur(0.5px);
    color: rgba(21, 61, 119, 1);
    font-family: Hind Vadodara, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

select:hover{
    background-color: rgba(255,255,255, 0.8);
}

select:focus{
    outline: none;
}
#retour,#nivCarte,#nivGraphe{
    font-family: Hind Vadodara, sans-serif;
    font-weight: 500;
    font-size: 30px
}

a{
    margin-top: 50px;
    color: rgba(21, 61, 119, 1);
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

a:hover,
a:focus,
a:active{
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

#entete{
    justify-content: space-between;
    padding-right: 450px;
    padding-left: 50px;
    padding-bottom: 70px;
    display:flex;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 150px;
    width: auto;
    background: rgba(21, 61, 119, 1);
    box-shadow: 2px 2px 4px -2px rgba( 0, 0, 0, 0.2 );
    position: static;
}

#region_div{
    width: 800px;
    height: 500px;
    background-color: white;
    margin-left: 290px;
    margin-top: -50px;
    box-shadow: 2px 2px 4px -2px rgba( 0, 0, 0, 0.2 );
    padding: 5px;
    border-radius: 5px;
    position: static;
}

#graphe{
    width: 800px;
    height: 500px;
    background-color: white;
    margin-left: 290px;
    margin-top: 200px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 4px -2px rgba( 0, 0, 0, 0.2 );
    padding: 5px;
    border-radius: 5px;
}

#infos{
    width: 350px;
    height: 550px;
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 4px -2px rgba( 0, 0, 0, 0.2 );
    padding: 5px;
    border-radius: 5px;
    margin-top: -550px;
    margin-right: 25px;
    font-family: Hind Vadodara, sans-serif;
    font-size: 25px;
    color: rgba(21, 61, 119, 1);
    backdrop-filter: blur(0.2px);
    padding-top: 10px;
    text-align: center;
    position: static;
    float:right;
    }

.typeInfo{
    font-size: 17.5px;
    margin-left: 1px;
    text-align: center;
}

.s-titre{
    border-top: 0.5px solid rgba(21, 61, 119, 1);
    width : 250px;
}

#attention{
    margin-left: 300px;
    font-family: Hind Vadodara, sans-serif;
    font-size: 15px;
    color: rgba(21, 61, 119, 1);
}

#tableInfo {
    display: none;
    border-collapse : separate;
    border-spacing : 12px;
}





